
.principal {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.img-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ranger-img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

.container-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
}

.login-logo img {
  width: 120px;
  margin-bottom: 10rem;
}

.login-form-wrapper {
  text-align: left;
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
  color: blue;
  font-size: 1.8rem;
  font-weight: 500;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.full-width-input {
  width: 100%;
  margin-bottom: 20px;
}

.mat-form-field-flex {
  background-color: #f8f8f8;
}

.mat-icon {
  color: #888;
  margin: 0 5px;
}

.info-icon {
  font-size: 0.9rem !important;
  color: #ccc !important;
}

.auto-login-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #666;
  font-size: 0.9rem;
}

.auto-login-checkbox {
  margin-right: 8px;
}

.login-button {
  width: 100%;
  padding: 22px 0;
  font-size: 1.1rem;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.copyright {
  margin-top: 50px;
  color: #888;
  font-size: 0.8rem;
  text-align: center;
}

.toggle-password-button{
  margin-right: 10px; 
}

@media (max-width: 768px) {
  .principal {
    flex-direction: column;
  }
  .img-section {
    display: none;
  }
}
