
.navbar{
   
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas {
  width: 280px;
  border-right: 1px solid #dee2e6;
}


.offcanvas-header {
  padding: 1.5rem;
  border-bottom: 1px solid #dee2e6;
}

.offcanvas-header .sidebar-logo {
  height: 40px; 
  width: auto;
}


.nav-item {
  margin-bottom: 0.5rem;
}


.nav-link {
  color: var(--sidebar-link-color);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-left: 4px solid transparent;
  transition: all 0.2s ease-in-out;   
}

.nav-link:hover {
  background-color: #cccccc65;;
  color: blue;
  border-left-color: #ccc;
}

.nav-link.active {
  color: var(--sidebar-active-color);
  font-weight: 700;
  border-left-color: var(--sidebar-active-color);
  background-color: blue;
}

.btn-close:focus {
  box-shadow: none;
}