<app-menu></app-menu>

<main class="dashboard-page">
  <h2 class="page-title">Dashboard Ford</h2>

  <section class="summary-cards">
    <div class="card">
      <div class="card-header">Veículo</div>
      <div class="card-body">
        <form [formGroup]="selectCarForms">
          <select class="form-select" formControlName="carId">
            <option value="">Selecione...</option>
            @for (vehicle of vehicles; track vehicle.id) {
            <option [value]="vehicle.id">{{ vehicle.vehicle }}</option>
            }
          </select>
        </form>
      </div>
    </div>
    
    @if (selectedVehicle) {
      <div class="card">
        <div class="card-header">Total de Vendas</div>
        <div class="card-body">
          <h5 class="card-title">{{ selectedVehicle.volumetotal | number }}</h5>
          <p class="card-text">Unid.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Veículos Conectados</div>
        <div class="card-body">
          <h5 class="card-title">{{ selectedVehicle.connected | number }}</h5>
          <p class="card-text">Unid.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Software Atualizado</div>
        <div class="card-body">
          <h5 class="card-title">{{ selectedVehicle.softwareUpdates | number }}</h5>
          <p class="card-text">Unid.</p>
        </div>
      </div>
    }
  </section>

  <section class="vehicle-display">
    @if (selectedVehicle) {
    <img [src]="selectedVehicle.img" [alt]="selectedVehicle.vehicle" />
    }
  </section>
</main>

<footer class="vin-table-footer">
  <table>
    <thead>
      <tr class="footer-top">
        <th>Código - VIN</th>
        <th>Odômetro</th>
        <th>Nível de Combustível</th>
        <th>Status</th>
        <th>Lat</th>
        <th>Long</th>
      </tr>
    </thead>
    <tbody>
      @if(carVin) {
        <tr class="footer-bottom">
          <td>
            <form [formGroup]="vinForm">
              <input class="form-control" type="text" [formControl]="vinForm.controls.vin" />
            </form>
          </td>
          <td>{{ carVin.odometro | number }} km</td>
          <td>{{ carVin.nivelCombustivel }} %</td>
          <td>{{ carVin.status }}</td>
          <td>{{ carVin.lat }}</td>
          <td>{{ carVin.long }}</td>
        </tr>
      } @else {
        <tr>
          <td>
             <form [formGroup]="vinForm">
              <input class="form-control" type="text" [formControl]="vinForm.controls.vin" placeholder="Digite o código VIN..."/>
            </form>
          </td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      }
    </tbody>
  </table>
</footer>